---
---

<div class="space-y-12">
    {/* Introduction */}
    <div class="bg-purple-900/20 rounded-lg p-6 border border-purple-500/10">
        <p class="text-purple-100/80 space-y-4">
            <span class="block">
                Otherworld is a modpack hosted on CurseForge, and is available through to install through the <a href="https://www.curseforge.com/download/app">CurseForge App</a>.
            </span>
            <span class="block">
                However, although the CurseForge App is easy to use, it uses more system resources than other alternatives.
                This can hinder game performance on low-end machines.
            </span>
            <span class="block">
                For this reason, we recommend players install Otherworld using <strong>ATLauncher</strong>.
            </span>
        </p>
    </div>

    {/* Linux Warning */}
    <div class="bg-red-900/20 rounded-lg p-4 border border-red-500/10">
        <p class="text-red-200/90">
            <span class="font-bold">Linux Users:</span> Do not use the Flatpak version of ATLauncher - as of the writing
            of this wiki, it can not properly install this modpack.
        </p>
    </div>

    {/* Installation Steps */}
    <section>
        <h3 class="text-2xl font-bold mb-6 text-purple-300 border-b border-purple-900/50 pb-3">
            Installation Steps
        </h3>

        <div class="bg-purple-900/20 rounded-lg p-6 border border-purple-500/10 space-y-6">
            <ol class="list-decimal list-inside text-purple-100/80 space-y-3">
                <li>Download and install <a href="https://atlauncher.com/downloads"
                                            target="_blank"
                                            class="text-purple-400 hover:text-purple-300 transition-colors">ATLauncher</a></li>
                <li>Open ATLauncher, Click "Accounts" the accounts tab</li>
                <li>Click "Login with Microsoft", and sign in through the web portal (Don't worry, no one with ATLauncher sees your login info!)</li>
                <li>Click the "Packs" tab, then click "CurseForge" on the left sidebar</li>
                <li>Search for "Otherworld"</li>
                <li>Click "New Instance"</li>
                <li>Click "Ok" on the opted out mods warning</li>
                <li>Click "Open All" on the manual download screen</li>
                <li>Wait for the mods to download automatically</li>
                <li>Once complete, go to the "Instances" tab and click "Play"</li>
            </ol>

            <div class="bg-emerald-900/20 rounded-lg p-4 border border-emerald-500/10">
                <p class="text-emerald-200/90">
                    <span class="font-bold">Tip:</span> When updates are available, you'll see an "Update" button
                    on your instance. Click it to get the latest version!
                </p>
            </div>
        </div>
    </section>

    {/* Alternative Options */}
    <section>
        <h3 class="text-2xl font-bold mb-6 text-purple-300 border-b border-purple-900/50 pb-3">
            Alternative Launchers
        </h3>
        <div class="bg-purple-900/20 rounded-lg p-6 border border-purple-500/10">
            <p class="text-purple-100/80 mb-4">
                Some users have also reported success with these alternatives:
            </p>
            <ul class="list-disc list-inside text-purple-100/80 space-y-2">
                <li>Prism Launcher (particularly for <strong>MacOS</strong> users)</li>
                <li>GDLauncher Carbon</li>
            </ul>
        </div>
    </section>
</div>
